/* Format page background */
body {
    background-image: url("./pulh_bg.jpg");
    background-position: center 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

div.menuheader {

}

/* Format white container for period stats and summary */
div.periodcontainer {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgb(219, 219, 219);
    background-image: url("./pulh-logo.png");
    background-repeat: no-repeat;
    background-position: 50% 1%;
    background-size: 12%;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    opacity: 0.85; 
}

/* Format team stats container, abstracting out team color details */
div.teamstats {
    /*background-image: url("./pulh-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    position: absolute;
    top: 18vh;
    width: 38.5vw;
    height: 60vh;
    border-radius: 7px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    opacity: 0.5;
}

/* Add color details to teamstats containers */
#green {
    background-color: rgb(33, 190, 33);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    left: 1vw;  
}

#blue {
    left: 40.5vw;
    background-color: rgb(8, 113, 173);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.periodsummary {
    position: relative;
    left: 0px;
    top: 0px;
}

span.scoregreen {
    position: absolute;
    left: 28vw;
    top: 5vh;
    font: 900;
    font-size: 8vh;
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span.scoreblue {
    position: absolute;
    left: 48vw;
    top: 5vh;
    font: 900;
    font-size: 8vh;
    color: rgb(13, 13, 105);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span.periodstatsright {

}

span.periodstatsleft {
    
}

div.footer {
    position: absolute;
    bottom: 2vh;
    left: 12vw;
    color: white;
    width: 76vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-variant: small-caps;
    font: lighter;

}

a {
    color:rgb(42, 181, 236);
}
